.volumeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
	box-shadow: 1px 2px 10px #52525256;
	background-color: #7bcbbd;
	height: 1rem;
	width: 1rem;
}
