.volumeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50%;
	box-shadow: 1px 2px 10px #43153b56;
	background-color: #ae0f95;
	height: 1rem;
	width: 1rem;
}
